<a href="<%= section_url(section) %>">
  <div class="section-card section-card-<%= section.slug %>" style="background-image: url(<%= image_url(section.slug) %>)">
    <h4><%= section.name %></h4>
  </div>
</a>