<div class="review-item">
  <div class="review-author">
    <strong><%= review.name %></strong> rated for <strong><%= review.point %> points</strong> and said:
  </div>
  <div class="desc">
    <p><%= review.comment %></p>
  </div>
</div>