// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$serif: 'Cormorant', serif;

html, body{
  font-family: "Open Sans", sans-serif;
}

.price{
  font-family: serif;
}
.contact{
  margin-top: 90px;
}

.address-line{
  padding-left: 25px;
  position: relative;
  .fa{
    position: absolute;
    left: 0;
    top: 4px;
    vertical-align: middle;
  }
}

.filter-bar{
  border-bottom: 1px solid #ededed;
  position: relative;
  .dropdown{
    position: absolute;
    bottom: 0;
    right: 0;
    .btn{
      padding-right: 0;
      text-decoration: none;
      color: #212121;
      &:focus{
        outline: none;
        box-shadow: none;
      }
    }
  }
}

.section-list{
  margin-top: 10%;
  margin-bottom: -1px;
  a{
    text-decoration: none;
    color: #212121;
    display: inline-block;
    padding: 10px 15px;
    &.active{
      border-bottom: 2px solid #0077C4;
      color: #0077C4;
    }
    &:hover{
      text-decoration: none;
    }
  }
}

/** food item **/
.menu-list{
  margin-top: 50px;
  @media (min-width: 48em){
    display: flex;
    flex-wrap: wrap;
  }
}

.food-item{
  padding: 15px;
  text-align: center;
  @media (min-width: 48em){
    width: 33.33%;
  }
  img{
    width: 100%;
  }
  .food-item-thumb{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    .overlay{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
      opacity: 0;
      transition: all 300ms;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .btn{
      opacity: 1;
    }
    &:hover{
      .overlay{
        opacity: 1;
      }
    }
    @media (min-width: 48em){
    }
  }
  .food-item-name{
    font-weight: bold;
    margin-bottom: 0;
    a{
      color: #212121;
      text-decoration: none;
    }
  }
  .food-item-price{
    @extend .price;
    font-style: italic;
    font-size: 0.8em;
    margin-bottom: 0;
  }
}

/** single **/
.single-food{
  text-align: center;
  img{
    width: 100%;
  }
}