// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$serif: 'Cormorant Infant', serif;

html, body{
  font-family: "Open Sans", sans-serif;
}

.navbar{
  background-color: #333333;
  color: #fff;
  a{
    color: #fff;
  }
  margin-bottom: 30px;
}
.btn{
  border-radius: 2px;
  border-radius: 100px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}

.btn-primary{
  background-color: #666A86;
  border-color: #666A86;
  color: #fff;
  &:hover{
    background-color: darken(#666A86, 10);
    border-color: darken(#666A86, 10);
  }
}

.price{
  font-family: $serif;
  // font-style: italic;
}
.contact{
  margin-top: 90px;
}

.address-line{
  padding-left: 25px;
  position: relative;
  .fa{
    position: absolute;
    left: 0;
    top: 4px;
    vertical-align: middle;
  }
}

.filter-bar{
  border-bottom: 1px solid #ededed;
  position: relative;
  .right-bar{
    @media (min-width: 48em){
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .dropdown{
    display: inline-block;
    .btn{
      padding-right: 0;
      text-decoration: none;
      color: #212121;
      &:focus{
        outline: none;
        box-shadow: none;
      }
    }
  }
}

.container__first{
  // margin-top: 10%;
}

.section-list{
  margin-bottom: -1px;
  display: flex;
  @media (min-width: 767px){
    
  }
  a{
    text-decoration: none;
    color: #212121;
    display: inline-block;
    padding: 10px 15px;
    &.active{
      border-bottom: 2px solid #0077C4;
      color: #0077C4;
    }
    &:hover{
      text-decoration: none;
    }
  }
}

/** food item **/
.menu-list{
  margin-top: 50px;
  @media (min-width: 48em){
    display: flex;
    flex-wrap: wrap;
  }
}

.food-item{
  padding: 15px;
  text-align: center;
  width: 100%;
  @media (min-width: 48em){
    width: 33.33%;
  }
  img{
    width: 100%;
  }
  .food-item-thumb{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    .overlay{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
      opacity: 0;
      transition: all 300ms;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .btn{
      opacity: 1;
      color: #fff;
      margin-left: 5px;
      margin-right: 5px;
    }
    .btn-default{
      border-color: #fff;
      &:hover{
        background-color: #fff;
        color: #212121;
      }
    }
    &:hover{
      .overlay{
        opacity: 1;
      }
    }
    @media (min-width: 48em){
    }
  }
  .food-item-name{
    font-weight: bold;
    margin-bottom: 0;
    a{
      color: #212121;
      text-decoration: none;
    }
  }
  .food-item-price{
    @extend .price;
    font-style: italic;
    font-size: 0.8em;
    margin-bottom: 0;
  }
}

/** single **/
.single-food-thumb{
  text-align: center;
  img{
    width: 100%;
  }
}

.single-food-info{

}

.table{
  > thead > tr > th{
    border-top: 0;
    font-size: 0.9em;
    text-transform: uppercase;
  }
  > tbody > tr > td{
    .price{
      font-size: 0.9em;
    }
  }

  td.th{
    font-weight: bold;
    text-transform: uppercase;
    // font-size: 0.8em;
    color: #333;
  }
}

.table-blank{
  > tbody > tr > td{
    border-top: 0;
    font-size: 0.8em;
  }
}

.heading__form{
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #ededed;
  margin-bottom: 20px;
  margin-top: 30px;
}

.review-stars{
  position: relative;
  line-height: 1em;
  display: inline-block;
  > div{
    display: flex;
  }
  i{

  }
  .review-stars-bg{
    color: #ededed;
  } 
  .review-stars-fg{
    position: absolute;
    top: 0;
    left: 0;
    color: #E8CC68;
    overflow: hidden;
    white-space: nowrap;
  }
}

.review-item{
  margin-top: 30px;
  margin-bottom: 30px;
  .review-author{

  } 
}